PORT=5000
MONGODB_URI=mongodb+srv://abhinav123:abhinav123@cluster0.be86mcg.mongodb.net/cravesense

JWT_SECRET=3f8c9b7a1d4e6f2a9c8b1e5d7f3a6c9b2e4d8f1a7b6c3d9e5f2a1b8c7d6e4f9
JWT_REFRESH_SECRET=8a7c6d5e4b3f2a1c9d8e7f6a5b4c3d2e1f9a8b7c6d5e4f3a2b1c9d8e7f6a5b4

GEMINI_API_KEY=AIzaSyCpPcKYi4ceAnxP34vJSqn3GMQzfJwGz-0
API_NINJAS_KEY=ZjBMAGuxEZtS0sP7LzMJQ7rMoqxUFbM91MPaRXsM

VAPID_PUBLIC_KEY=BOFFHuBDz5RzOVbRJyF2TKqV15keNk6SZ8T5S6a427-gDDazW_6E7549K-q_0xkCGI0YFxw8D0n_WfLx5u41K8A
VAPID_PRIVATE_KEY=frMYLIB7XwC9fFNcciiM2ROTOKaGNRh6RS9YI4rZ8V8
VAPID_EMAIL=shashankabhinav6@gmail.com
CLIENT_URL=http://localhost:5173
